<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="UTF-8">
        <title>{{ bookentry.bookName }}</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <style type="text/css">

            body {
                background-color: rgb(138, 138, 138);
            }
        </style>
        <script src="/static/js/pdf.js" type="text/javascript"></script>

        {#    测试代码#}
        <script src="/static/js/jquery-3.2.0.min.js"></script>


        <script type="text/javascript">

            $(function () {
                $("#toggle").click(function () {
                    $(this).text($("#content").is(":hidden") ? "收起评论" : "展开评论");
                    $("#content").slideToggle();
                });
            });

        </script>
        <script type="text/javascript">
            function showPdf(isShow, bookid) {
                var state = "";
                if (isShow) {
                    state = "block";
                } else {
                    state = "none";
                }
                var pop = document.getElementById("pop");
                pop.style.display = state;
                var lightbox = document.getElementById("lightbox");
                lightbox.style.display = state;


            }
            {#            function close() {#}
            {#                showPdf(false);#}
            {#            }#}
        </script>

    </head>
</head>
<body>

<div class="lightbox" id="lightbox"></div>
<div id="pop" class="pop" style="display: block;">
    {#    <a href="javascript:close()" style="#}
    {#            position: absolute;#}
    {#            right: -90px;#}
    {#            display: inline-block;#}
    {#            width: 80px;#}
    {#            height: 30px;#}
    {#        " id="close">关闭</a>#}
    {#    <iframe src="{{ bookentry.path }}" frameborder="0" id="{{ bookentry.id }}" class="pdfContainer"#}
    {#            name="pdfContainer"></iframe>#}


    <div class="bookId" id="{{ bookentry.id }}" style="float: left;border: 2em;">
        <div>
            {#        <a id="theCanvasBookPath" style="display: none;">{{ bookentry.path }}</a>#}
            <canvas id="theCanvas" class="{{ bookentry.path }} " style="">xiedianshenem</canvas>
        </div>
        <div style="position:relative;margin: 1em auto;width: 208px;">

            <button id="prePage">上一页</button>
            <a></a><input style="width: 2em" id="currentPage" value="1">
            <a style="font: 'Microsoft YaHei';color: #000;">/</a><input style="width: 2em" id="totalPage" disabled="true" value="">
            <button id="nextPage">下一页</button>
        </div>
    </div>


    <div style="
            {#            float: left;#}
            top: 40px;
            display: -webkit-inline-box;
            width: 280px;
            height: 30px;
            left: 10em;


            ">

        <a id="toggle">隐藏评论</a>
        <div id="content">
            <form id="commentForm" action="" method=post class=add-entry onsubmit="return false;">
                <dl>
                    <dt>辣鸡评论:
                        <textarea name=commentAdd rows=5 cols=40></textarea>
                        <input type="button" id="addComment" value="share" onclick="addComment">


                </dl>
            </form>
            <div id="commentsContent">
                {#                评论信息展示#}
                {% for commententry in commententries %}
                    <div class="oneCommet">
                        <div class="{{ commententry.commentid }}" style="float: left">
                            <a style="color: black">{{ commententry.comment|safe }} </a>
                        </div>
                        <div style="float: none" class="{{ commententry.commentid }}">
                            <button class="deleteComment" id="{{ commententry.commentid }}">delete</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    String.prototype.format = function () {
        var args = arguments;
        var reg = /\{(\d+)\}/g;
        return this.replace(reg, function (g0, g1) {
            return args[+g1];
        });
    };
    $('#addComment').click(function () {
        var url = "/add_comment_json/" + $(".bookId").attr("id") + "/" + $("#currentPage").val();
        console.log("url:" + url);
        if ("" == $("textarea").val()) {
            alert("评论信息不能为空！");
        }
        else {
            $.ajax({
                url: url,
                type: 'post',
                dateType: 'json',
                data: $("#commentForm").serialize(),
                success: function (data) {
                    console.log(data);
                    console.log(eval(data));
                    //刷新评论区
                    var entry = {};
                    eval(data).forEach(function (entry, index) {
                        console.log(entry);
                        {#                        var appendcontent =#}
                        {#                            ' <div style="float: left" class="{0}"><a style="color: black">{1} </a></div>'.format(entry.id, entry.comment)#}
                        {#                            + '<div style="float: none" class="{0}">'.format(entry.id) +#}
                        {#                            '<button class="deleteComment" id="{0}"  >delete</button>'.format(entry.id)#}
                        {#                            + '</div>';#}

                        var appendcontent = '<div class="oneCommet">' +
                            '<div class="{0}" style="float: left" >'.format(entry.id) +
                            '<a style="color: black">{0} </a>'.format(entry.comment) +
                            '</div>' +
                            '<div  style="float: none" class="{0}">'.format(entry.id) +
                            '<button class="deleteComment" id = "{0}">delete</button>'.format(entry.id) +
                            '</div></div>';
                        $("#commentsContent").prepend(appendcontent);
                    });
                },
                error: function () {
                    alert("error!");
                }
            });
        }
    });
    {#        删除一条评论信息#}
    $(document).on('click', ".deleteComment", function () {
        console.log("deleteComment");
        var commentid = $(this).attr("id");
        var url = "/delete_comment_json/" + commentid;
        console.log("url:" + url);
        $.ajax({
            url: url,
            type: 'post',
            dateType: 'json',
            success: function (data) {
                console.log(data);
                //刷新评论区
                var entry = {};
                $("." + commentid).remove("div");
            },
            error: function () {
                alert("error!");
            }
        });
    });
</script>
<script src="/static/js/pdfjsControl.js" type="text/javascript"></script>
</body>
</html>